{% extends 'base.html.twig' %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    {% include 'partials/nav.html.twig' %}
    <!-- CANVAS -->
    <section class="canvas"></section>
    <!-- CANVAS END -->
    {% include 'partials/subheader.html.twig' %}
{% endblock %}
