<!-- TOP NAVIGATION -->
<nav>
	<div class="grid-template">
		<div class="block-logo">
			<span class="logo">
				<img src="images/logo.png" alt="GamerMind"/>
			</span>
		</div>
		<div class="block-nav">
			<ul>
				<li><a href="#" class="active">Home</a></li>
				<li><a href="#">Games</a></li>
				<li><a href="#">Community</a></li>
				<li><a href="#">Shop</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>
<!-- TOP NAVIGATION END -->
