<!-- SUB HEADER -->
<aside class="subheader">
	<div class="grid-template">
		<div class="block-info">
			<div class="sub-title">
				<p>Today's</p>
			</div>
			<div class="main-title">
				<p>Games collection</p>
			</div>
			<div class="summary">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dolores.</p>
			</div>
			<div class="block-button">
				<div class="button button-style2 button-style3">
					<a href="#">Browse more</a>
				</div>
			</div>
		</div>
		<div class="block-slider">
			<div class="games">
				<div class="poster">
					<div class="poster-img">
						<img src="{{ asset('assets/images/game1.jpg') }}" alt="GamerMind">
					</div>
					<a href="#">Game one</a>
				</div>
				<div class="poster">
					<div class="poster-img">
						<img src="{{ asset('assets/images/game2.jpg') }}" alt="GamerMind">
					</div>
					<a href="#">Game two</a>
				</div>
				<div class="poster">
					<div class="poster-img">
						<img src="{{ asset('assets/images/game3.jpg') }}" alt="GamerMind">
					</div>
					<a href="#">Game three</a>
				</div>
				<div class="poster">
					<div class="poster-img">
						<img src="{{ asset('assets/images/game4.jpg') }}" alt="GamerMind">
					</div>
					<a href="#">Game four</a>
				</div>
			</div>
		</div>
	</div>
</aside>
<!-- SUB HEADER END -->
