// IMPORTS

@font-face {
  src: url(../../public/assets/fonts/BarlowCondensed-Bold.ttf);
  font-family: mainFont;
}

@font-face {
  src: url(../../public/assets/fonts/BarlowCondensed-Regular.ttf);
  font-family: lesserFont;
}

// VARIABLES.LESS

@mainColor: #d73f2b;
@darkColor: #141414;
@lightColor: #ffffff;
@neutralColor: #787878;
@darkerColor: #000000;
@altDarkColor: #101010;

@transition: all .2s ease-in-out;

@xsmall:  ~"only screen and (min-width: 320px)";
@small:  ~"only screen and (min-width: 480px)";
@medium:  	~"only screen and (min-width: 768px)";
@large:   	~"only screen and (min-width: 1024px)";
@xlarge:  	~"only screen and (min-width: 1200px)";
@xxlarge: 	~"only screen and (min-width: 2400px)";

// TEMPLATE.LESS

body, html
{
  margin: 0;
  padding: 0;
  color: @neutralColor;
  font-family: lesserFont;
  background: @darkColor;
  z-index: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
  display: none;
}

::-webkit-scrollbar-track {
  background: @darkColor;
}

::-webkit-scrollbar-thumb {
  background: @lightColor;

  &:hover {
    background: @mainColor;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: @lightColor;
}

a {
  color: @neutralColor;
}

h1 {
  font-size: 2rem;

  @media @large {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.7rem;

  @media @large {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.3rem;

  @media @large {
    font-size: 1.7rem;
  }
}

/********** PRELOADER **********/

.preloader {
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: @darkColor;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  .loader {
    color: @mainColor;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    width: 44px;
    height: 44px;
    position: relative;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);

    svg {
      display: block;
      width: 100%;
      height: 100%;

      rect {
        fill: none;
        stroke: @mainColor;
        stroke-width: 10px;
        stroke-linejoin: round;
        stroke-linecap: round;
        stroke-dasharray: 192 64 192 64;
        stroke-dashoffset: 0;
        -webkit-animation: loader 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
        animation: loader 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
      }
    }
  }
}

@-webkit-keyframes loader {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes loader {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

/********** PRELOADER END **********/

/********** GRID CONTAINER **********/

.container {
  display: grid;
  z-index: 1;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr auto auto auto auto;
  grid-template-areas:
      "nav"
      "header"
      "subheader"
      "main"
      "prefooter"
      "footer";
}

.grid-template {
  max-width: 90em;
  padding: 2em;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

/********** GRID CONTAINER END **********/

/********** TOP NAVIGATION **********/

nav {
  grid-area: nav;
  z-index: 3;
  position: fixed;
  width: 100%;
  transition: all .2s ease-in-out;

  .grid-template {
    display: grid;
    transition: all .2s ease-in-out;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    grid-template-areas:
        "logo nav";

    .block-logo {
      grid-area: logo;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .block-nav {
      grid-area: nav;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      ul {
        list-style-type: none;
        display: flex;

        li {
          margin: 0 1rem;

          a {
            text-decoration: none;
            color: @lightColor;
            letter-spacing: 1px;
            transition: all .2s ease-in-out;

            &:hover {
              color: @mainColor;
            }

          }

          .active {
            color: @mainColor;
            font-weight: bold;
          }
        }
      }
    }
  }

  &.stickynav {
    background: @darkColor;

    .grid-template {
      padding: 1em;
    }
  }
}

/********** TOP NAVIGATION END **********/

/********** HEADER **********/

header {
  grid-area: header;
  position: relative;

  .grid-template {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 40% 20% 40%;
    grid-template-areas:
        "slogan"
        "baseline"
        "button";

    .block-slogan {
      grid-area: slogan;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .slogan {
        color: @lightColor;
        font-family: mainFont;
        font-size: 5rem;
        text-transform: uppercase;
        font-weight: 900;
      }
    }

    .block-baseline {
      grid-area: baseline;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .baseline {
        color: @lightColor;
        font-family: lesserFont;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        max-width: 65em;
        line-height: 1.4;
      }
    }

    .block-button {
      grid-area: button;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    p {
      margin: 2rem 0;
    }
  }

  .social {
    position: absolute;
    left: -100px;
    top: 50%;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    z-index: 2;

    span {
      color: @lightColor;
      font-family: lesserFont;
      font-size: 1rem;
      text-transform: uppercase;
      padding-right: 7rem;
      position: relative;
      letter-spacing: 1px;

      &:after {
        position: absolute;
        content: '';
        top: 50%;
        right: 30px;
        width: 50px;
        height: 1px;
        background: @lightColor;
      }
    }

    a {
      margin: 0 .5rem;
      text-decoration: none;

      svg {
        fill: @lightColor;
        transition: all .3s ease-in-out;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
      }

      &:hover {
        svg {
          fill: @mainColor;
        }
      }
    }
  }
}

.block-button {
  .button {
    margin: 0 1rem;
    padding: 0.8rem 1rem;
    background: @lightColor;
    transition: all .3s ease-in-out;
    width: 7.5em;
    text-align: center;

    a {
      text-decoration: none;
      color: @darkColor;
      font-weight: 400;
      font-size: .9rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: all .3s ease-in-out;
    }

    &.button-style2 {
      background: @mainColor;
      transition: all .3s ease-in-out;

      a {
        color: @lightColor;
      }

      &.button-style3 {
        margin: 2rem 0;
      }
    }
  }
}

/********** HEADER END **********/

/********** CANVAS **********/

.canvas {
  height: 100vh;
  width: 100%;
  z-index: 0;
  grid-row: nav / header;
  grid-column: nav / header;
  background: url("../../public/assets/images/canva.jpg") no-repeat;
  background-size: cover;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
  }

  &.content {
    height: 50vh;
    background: url("../../public/assets/images/canvas.jpg") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: @lightColor;
      z-index: 1;
    }
  }
}

/********** CANVAS END **********/

/********** SUB HEADER **********/

aside.subheader {
  grid-area: subheader;

  .grid-template {
    padding: 5em 0;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas:
        "info slider";

    .block-info {
      grid-area: info;
      padding: 1rem;

      p {
        margin: 1rem 0;
      }

      .sub-title {
        color: @mainColor;
        letter-spacing: 3px;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-family: lesserFont;
      }

      .main-title {
        color: @lightColor;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-family: mainFont;
      }

      .summary {
        font-size: 1.2rem;
        max-width: 50%;
      }
    }

    .block-slider {
      grid-area: slider;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .games {
        width: 100%;

        .poster {
          a {
            text-transform: capitalize;text-decoration: none;
            font-family: mainFont;
            color: @lightColor;
            font-size: 1.4rem;
            display: flex;
            justify-content: center;
            margin: 1rem 0;
          }
        }
      }
    }
  }
}

/********** SUB HEADER END **********/

/********** MAIN **********/

main {
  max-width: 90em;
  padding: 2em;
  margin: 0 auto;
  width: 100%;
  min-height: 38.5vh;

  .product-catalog {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;

    .product {
      background: @altDarkColor;

      @media @medium {
        width: 48%;
      }

      @media @large {
        width: 23%;
      }

      img {
        height: 375px;
      }

      a {
        display: flex;
        flex-direction: column;
        text-decoration: none;

        .product-description {
          padding: 1rem;

          h3 {
            margin: 1rem 0;
          }
        }
      }
    }
  }

  .product-card {
    display: flex;
    align-items: stretch;

    .product-info {
      padding: 2rem;
      background: @altDarkColor;
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      .info {
        flex: 2.5;
      }

      p.title {
        font-size: 1.3rem;
        color: @lightColor;
      }

      .purchase {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;
        flex: 1;
      }

      p.price {
        font-size: 1.3rem;
        color: @lightColor;
        margin: 0;
      }
    }
  }

  .cart-anchor {
    text-decoration: none;
    display: contents;
  }

  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    background: @altDarkColor;
    padding-right: 2rem;

    p {
      text-align: center;
      font-size: 1.3rem;
    }
  }

  .empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 1.3rem;
    }
  }

  a.cart-button {
    background: @mainColor;
    text-decoration: none;
    padding: 0.8rem 1rem;
    text-transform: uppercase;
    color: @lightColor;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: 1px;
    transition: @transition;
    margin-right: 1rem;
    text-align: center;

    &.alternate {
      background: @lightColor;
      color: @darkColor;
    }
  }

  .item-quantity {
    display: flex;
    align-items: baseline;

    a {
      text-decoration: none;
      font-size: 2rem;
      color: @lightColor;
    }

    p {
      color: @mainColor;
      font-size: 1.3rem;
      margin: 0 2rem;
      background: @lightColor;
      padding: 5px 15px;
    }
  }

  .cart-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    span {
      font-size: 1.3rem;
      color: @lightColor;
    }
  }

  .review {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2rem;
    background: @altDarkColor;
    padding-right: 1rem;
    margin: 1rem 0;

    .review-number {
      background: @lightColor;
      color: @darkColor;
      padding: 1rem;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p.review-text {
      font-size: 1.1rem;
      flex: 1;
      margin: 5px 0;
      line-break: anywhere;
      display: flex;
      align-items: center;
    }

    .review-stars {
      display: flex;
      align-items: center;
    }
  }

  .product-reviews {
    #review_form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      margin-top: 2rem;

      div:first-child {
        flex: 1;
      }

      div:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
          margin-bottom: 10px;
        }
      }

      input[type=text] {
        width: 100%;
        padding: 15px 5px;
        outline: none;
        border: 0;
        border-radius: 0;
        background: @altDarkColor;
        color: @lightColor;
      }
    }

    .review-button {
      background: @mainColor;
      padding: 0.8rem 1rem;
      text-transform: uppercase;
      color: @lightColor;
      border: 0;
      outline: none;
      cursor: pointer;
      font-size: .9rem;
      font-weight: 400;
      letter-spacing: 1px;
      margin: 1rem 0;
      font-family: lesserFont;
    }
  }

  .user-requests {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    .request {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      background: @altDarkColor;
      padding-right: 1rem;
      margin: 1rem 0;
      gap: 2rem;

      .request-number {
        color: @darkColor;
        background: @lightColor;
        padding: 1rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .request-title {
        color: @lightColor;
        font-size: 1.2rem;
        flex: 1;
      }

      .request-status {
        font-size: 1.2rem;

        &.pending {
          color: yellow;
        }

        &.approved {
          color: green;
        }

        &.rejected {
          color: red;
        }
      }
    }
  }
}

/********** MAIN END **********/

/********** SECURITY **********/

.security-message {
  text-align: center;
  margin-bottom: 2rem;

  span {
    color: @mainColor;
  }

  a {
    color: @lightColor;
  }
}

.security-form {
  display: flex;
  flex-direction: column;

  @media @medium {
    max-width: 50%;
    margin: 0 auto;
  }

  @media @large {
    max-width: 25%;
  }

  .form-row, .form-row div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label {
      margin-bottom: 0.5rem;
    }

    input {
      padding: 10px 5px;
      outline: none;
      border: 0;
      border-radius: 0;
    }
  }

  .form-row.inverse-flex div {
    flex-direction: row;

    label {
      margin-bottom: 0.2rem;
    }
  }

  .security-button {
    background: @mainColor;
    padding: 0.8rem 1rem;
    text-transform: uppercase;
    color: @lightColor;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: 1px;
    transition: @transition;
    margin: 1rem 0;
    font-family: lesserFont;
  }

  .send-request {
    font-size: 1.2rem;
    color: @lightColor;
  }

  &.alt-width {
    margin: 0;

    @media @large {
      max-width: 50%;
    }
  }
}

/********** SECURITY END **********/

/********** FOOTER **********/

footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: @altDarkColor;
}

/********** FOOTER END **********/
