<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>
			{% block title %}
				GamerMind
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('assets/images/favicon.png') }}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<!-- PRELOADER -->
		<div class="preloader">
			<div class="loader">
				<svg viewbox="0 0 80 80">
					<rect x="8" y="8" width="64" height="64"></rect>
				</svg>
			</div>
		</div>
		<!-- PRELOADER -->

		<!-- GRID CONTAINER -->
		<div class="container">
            {% block body %}{% endblock %}
			{% include 'partials/footer.html.twig' %}
		</div>
		<!-- GRID CONTAINER END -->
	</body>
</html>
