{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}

{% block body %}
    {% include 'partials/nav.html.twig' %}
    <!-- CANVAS -->
    <section class="canvas content">
        <h1>Checkout</h1>
    </section>
    <!-- CANVAS END -->

    <!-- MAIN -->
    <main>
        {{ form_start(form) }}
            <h2>One more step left before placing your order.</h2>
            <button type="submit" class="order-button">Proceed to payment</button>
        {{ form_end(form) }}
    </main>
    <!-- MAIN END -->
{% endblock %}
